In [5]:
import numpy as np
import pandas as pd 
import mysql.connector

In [7]:
try:
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='user',
        database='sales_data'
    )
    print("Connection to MySQL server established successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    connection = None

Connection to MySQL server established successfully.

### Fetching Data from MySql Server

In [8]:
if connection:
    try:
        query = "SELECT * FROM data_salesdata;" 
        df = pd.read_sql(query, connection)
        print("Data fetched successfully from the database.")
    except Exception as e:
        print(f"Error while fetching data: {e}")
        df = None

C:\Users\Sagnik\AppData\Local\Temp\ipykernel_17040\1070289107.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

Data fetched successfully from the database.

In [9]:
df.head(5)

   id        date  price_per_unit  units_sold
0   1  2023-01-01         50.5466           0
1   2  2023-01-02         52.1932           0
2   3  2023-01-03         49.0970           9
3   4  2023-01-04         52.6075           0
4   5  2023-01-05         50.1827           0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              736 non-null    int64
 1   date            736 non-null    object
 2   price_per_unit  736 non-null    float64
 3   units_sold      736 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 23.1+ KB

no missing values are found

In [11]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              736 non-null    int64
 1   date            736 non-null    datetime64[ns]
 2   price_per_unit  736 non-null    float64
 3   units_sold      736 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 23.1 KB

In [13]:
df['total_revenue'] = df['price_per_unit'] * df['units_sold']
print("Feature 'total_revenue' added.")

Feature 'total_revenue' added.

In [15]:
df.head(10)

   id       date  price_per_unit  units_sold  total_revenue
0   1 2023-01-01         50.5466           0         0.0000
1   2 2023-01-02         52.1932           0         0.0000
2   3 2023-01-03         49.0970           9       441.8730
3   4 2023-01-04         52.6075           0         0.0000
4   5 2023-01-05         50.1827           0         0.0000
5   6 2023-01-06         49.1446          23      1130.3258
6   7 2023-01-07         53.1778           0         0.0000
7   8 2023-01-08         52.5029           0         0.0000
8   9 2023-01-09         52.4958           0         0.0000
9  10 2023-01-10         52.7795           0         0.0000

In [20]:
output_file = "../csv_data/cleaned_sales_data.csv"
try:
    df.to_csv(output_file, index=False)
    print(f"Cleaned data saved to {output_file}.")
except Exception as e:
    print(f"Error while saving data: {e}")

Cleaned data saved to ../csv_data/cleaned_sales_data.csv.

In [18]:
if connection:
    connection.close()
    print("Connection to MySQL server closed.")

Connection to MySQL server closed.